{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"arrowParens": "always",
	"semi": true,
	"bracketSpacing": true,
	"tabWidth": 2,
	"bracketSameLine": false,
	"useTabs": true,
	"endOfLine": "auto"
}
